@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;700&display=swap");

body {
  background: linear-gradient(135deg, #f0f4f8 0%, #d9e2ec 100%);
  color: #102a43;
}

* {
  font-family: "Noto Sans Thai", sans-serif;
  box-sizing: border-box;
}
